.gothic-a1-black {
  font-family: "Gothic A1", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.wrapper {
  .heading {
    text-align: center;
    font-size: 228px;
    font-weight: 800;
    line-height: 196px;
    margin-top: 350px;
    margin-bottom: 320px;
    @media (min-width: 1200px) and (max-width: 1400px) {
      font-size: 196px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 172px;
      line-height: 176px;
      margin-top: 200px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 128px;
      line-height: 156px;
      margin-top: 160px;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      font-size: 100px;
      line-height: 116px;
      margin-top: 140px;
      margin-bottom: 130px;
    }
    @media (min-width: 450px) and (max-width: 576px) {
      font-size: 72px;
      line-height: 100px;
      margin-top: 100px;
      margin-bottom: 120px;
    }
    @media (max-width: 450px) {
      font-size: 60px;
      line-height: 70px;
      margin-top: 90px;
      margin-bottom: 100px;
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .card1 {
      display: flex;
      gap: 1rem;
      min-height: 570px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
      .card1_left {
        border-radius: 20px;
        max-width: 425px;
        height: fit-content;
        padding: 130px 40px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        background-color: white;
        border: 1px solid black;
        @media (min-width: 1200px) and (max-width: 1400px) {
          padding: 110px 35px;
          max-width: 320px;
        }
        @media (min-width: 992px) and (max-width: 1200px) {
          padding: 30px;
          max-width: 300px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
          padding: 25px;
          max-width: 270px;
          gap: 55px;
        }
        @media (min-width: 576px) and (max-width: 768px) {
          padding: 20px;
          max-width: 100%;
          gap: 50px;
        }
        @media (max-width: 576px) {
          padding: 17px;
          max-width: 100%;
          gap: 15px;
        }
        .card_heading {
          font-weight: 800;
          font-size: 60px;
          line-height: 64px;
          margin-top: 0;
          @media (min-width: 1200px) and (max-width: 1400px) {
            font-size: 50px;
          }
          @media (min-width: 992px) and (max-width: 1200px) {
            font-size: 45px;
          }
          @media (min-width: 768px) and (max-width: 992px) {
            font-size: 40px;
          }
          @media (min-width: 576px) and (max-width: 768px) {
            font-size: 35px;
          }
          @media (max-width: 576px)  {
            font-size: 28px;
            line-height: 40px;
          }
        }
        .card_para {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          @media (min-width: 576px) and (max-width: 768px) {
            font-size: 14px;
          }
          @media (max-width: 576px)  {
            font-size: 13px;
            line-height: 20px;
          }
        }


      }
      .card1_right {
        img {
          height: inherit;
          border-radius: 20px;
          width: 100%;
          object-fit: cover;
        }
        height: 570px;
        object-fit: cover;
        width: 100%;
        @media (min-width: 768px) and (max-width:1200px){
        height: 450px;
        }
        @media (max-width:576px){
            height: 400px;
        }
      }
    }
    
  }
}
